div {
	float: left;
	align-content: center;
}

h4 {
	margin: 0 0px;
	text-align: center;
}

ul {
	list-style-type: none;
	border: inset 1px;
	padding: 0px 30px 0px 0px;
	line-height: 14pt;
	margin: 0 10px;
}

li {
	cursor: pointer;
}

.selected {
	background: #0f0;
}

button {
	display: block;
}

.disable {
	opacity: 0.6;
}
