@{
	ViewBag.Title = "Main Page";
}
<h2>@ViewBag.Title.</h2>
<a href="@Url.Action("GetList", "Users")" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Users</a>
<a href="@Url.Action("GetList", "Awards")" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Awards</a>